<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content"> 
                    <p>
                        Welcome to CyberSun! We are a boutique IT software development firm dedicated to bridging the gap between your business goals and cutting-edge technology. Since our inception, we've been committed to delivering customized IT services that enhance efficiency, strengthen security, and drive innovation.
                        <br>
                        <br>
                       At CyberSun, our mission is to empower businesses with robust, scalable, and cost-effective IT solutions. We aim to understand your unique challenges and offer personalized services that provide a competitive advantage.
                        <br>
                        <br>
                        Our close-knit team of passionate IT professionals focuses on leveraging advanced technologies such as spatial computing (AR/VR), AI, and software development, particularly for startups.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>