<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slide_1_2.png)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Explore how <br> immersive technology can transform <span>your business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">VR/AR can revolutionize business by providing immersive training environments that enhance learning and reduce the costs associated with traditional training methods. VR enables businesses to create engaging virtual showrooms and product demonstrations, offering customers interactive experiences that can drive sales and enhance brand loyalty.</p>
                            <a href="/pages/contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Let's talk!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image: url({{site.baseurl}}/assets/img/slider/slide_1.png)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Meet with us to <br>explore how AI can transform<span>your business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">CyberSun leverages cutting-edge AI technologies to streamline operations and enhance decision-making processes, enabling businesses to achieve higher efficiency and productivity. By implementing tailor-made AI solutions, CyberSun empowers companies to gain valuable insights and drive innovation, positioning them for success in a competitive market.</p>
                            <a href="/pages/contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Let's talk!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            Connect with us to access top-tier tech experts who can elevate your startup.
                            <h1 data-animation="fadeInUp" data-delay=".2s">Connect with us to<br>access top-tier tech experts <span>for your startup</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                                CyberSun offers top-tier tech experts to startups, delivering the essential skills and innovation needed to create robust, scalable solutions that meet market demands. With their expertise, you can efficiently navigate technical challenges, keeping your startup ahead of the competition and driving accelerated growth.
                            </p>
                            <a href="/pages/contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Let's talk!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>